<div class="aeroplan-banner banner"></div>

<div class="container orgs-grid">
	<div class="row donate-today">
		<div class="col-md-12 text-center">
			<h3>
				Your Aeroplan Miles fuel the most dynamic learning initiatives around the world!
				<br>Click below to see how your donations take Learning Beyond Miles.
			</h3>
      <button type="button" class="btn btn-donate">Donate Today</button>
		</div>
	</div>

	<div class="row seven-cols">
		<% @organizations.each do |org| %>
			<div class="org-info col-md-1 thumbnail text-center">
				<img class="org-image img-responsive" id="org-image" alt="<%= org.name %>" src="<%= org.image %>">

				<div class="org-name-hq text-center">
					<%= link_to(org, class: "org-name") do %>
						<%= org.name.upcase %>
					<% end %>
					<p class="org-hq"><%= org.headquarters.upcase %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>