<%= link_to("https://beyondmiles.aeroplan.com/eng/partners/11", target: "blank") do %>
	<div class="aeroplan-banner banner"></div>
<% end %>

<div class="container">
	<div class="row donate-today">
		<div class="col-md-12 text-center">
			<h3>
				Your <%= link_to "Aeroplan", "https://www.aeroplan.com", class: "aeroplan-link", target: "blank" %> Miles help us take flight!
			</h3>
	    <%= render 'layouts/donate' %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center donate-logos">
	    <img alt="swb-logo" src="https://beyondmiles.herokuapp.com/imgs/swb-logo.png">
	    <img alt="swb-logo" src="http://beyondmiles.herokuapp.com/imgs/aeroplan-logo.png">
	  </div>
	</div>

	<hr>

	<div class="orgs-grid">
		<div class="row">
			<div class="col-md-12 text-center orgs-header">
				<h3>Click below to see your Aeroplan Miles in action.</h3>
			</div>
		</div>

		<div class="row seven-cols">
			<% @organizations.each do |org| %>
				<div class="org-info col-md-1 thumbnail text-center" id="org-thumbnail">
					<%= link_to(org) do %>
						<img class="org-image img-responsive" id="org-image" alt="<%= org.name %>" src="<%= org.image %>">
					<% end %>

					<div class="org-name-hq text-center caption">
						<%= link_to(org, class: "org-name") do %>
							<%= org.name.upcase %>
						<% end %>
						<p class="org-hq"><%= org.headquarters.upcase %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>

</div>