<%= link_to("https://beyondmiles.aeroplan.com/eng/partners/11", target: "blank") do %>
	<div class="aeroplan-banner banner"></div>
<% end %>

<div class="container orgs-grid">
	<div class="row donate-today">
		<div class="col-md-12 text-center">
			<h3>
				Your
				<%= link_to("https://www.aeroplan.com", class: "aeroplan-link", target: "blank") do %>
				Aeroplan<sup>®</sup>
				<% end %>
				Miles help us take flight!
			</h3>

      <%= link_to("https://beyondmiles.aeroplan.com/eng/partners/11", target: "blank") do %>
      	<button type="button" class="btn" id="btn-donate">DONATE TODAY</button>
      <% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Click below to see your Aeroplan Miles in action.</h3>
		</div>
	</div>
	
	<div class="row seven-cols">
		<% @organizations.each do |org| %>
			<div class="org-info col-md-1 thumbnail text-center" id="org-thumbnail">
				<%= link_to(org) do %>
					<img class="org-image img-responsive" id="org-image" alt="<%= org.name %>" src="<%= org.image %>">
				<% end %>

				<div class="org-name-hq text-center caption">
					<%= link_to(org, class: "org-name") do %>
						<%= org.name.upcase %>
					<% end %>
					<p class="org-hq"><%= org.headquarters.upcase %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>