<div class="container" id="orgs-grid">
	<div class="row">
		<% @organizations.each do |org| %>
			<div class="col-xs-6 col-md-2" id="org-image">
				<%= link_to(org, class: "thumbnail") do %>
					<img alt="<%= org.name %>" src="<%= org.image %>">
				<% end %>
			</div>

			<div class="col-xs-6 col-md-2" id="org-name">
				<%= link_to(org, class: "thumbnail") do %>
					<%= org.name %>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Your Aeroplan Miles giving projects the wings to take flight!</h3>
      <button type="button" class="btn btn-default">Donate Today</button>
		</div>
	</div>
</div>