<div class="container orgs-grid">
	<div class="row">
		<% @organizations.each do |org| %>
			<div class="col-xs-6 col-md-3 thumbnail org-info">
				<div class="org-image">
					<%= link_to(org) do %>
						<img alt="<%= org.name %>" src="<%= org.image %>">
					<% end %>
				</div>

				<div class="org-name text-center">
					<%= link_to(org) do %>
						<%= org.name %>
					<% end %>
					<p><%= org.headquarters %></p>
				</div>
			</div>
		<% end %>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Your Aeroplan Miles give projects the wings to take flight!</h3>
      <button type="button" class="btn btn-default">Donate Today</button>
		</div>
	</div>
</div>