<div class="org-banner text-center" style="background-image: url(<%= @organization.image %>)">
	<div class="org-banner-title">
		<h1>
			<%= link_to(@organization.website, class: "org-title", target: "blank") do %>
				<%= @organization.name.upcase %>
			<% end %>
		</h1>
		<h4><%= @organization.headquarters.upcase %></h4>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-sm-6 col-md-8 col-md-offset-2 text-center">
			<p><%= @organization.description %></p>
			<%= link_to(@organization.website, target: "blank") do %>
				<%= @organization.website %>
			<% end %>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-8 col-md-offset-2 text-center">
			<%= link_to(@organization.facebook, target: "blank") do %>
				<img alt="facebook" src="">
			<% end %>
			<%= link_to(@organization.twitter, target: "blank") do %>
				<img alt="twitter" src="">
			<% end %>
			<%= link_to(@organization.instagram, target: "blank") do %>
				<img alt="instagram" src="">
			<% end %>
		</div>
	</div>

</div>
