<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container" id="navbar">
		<div class="navbar-header">
			<!-- Hamburger -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			  <span class="sr-only">toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>

			<%= link_to(root_path, class: "navbar-brand") do %>
				<img id="swb-logo" alt="swb" src="http://beyondmiles.herokuapp.com/imgs/swb-logo.png">
			<% end %>
		</div>

		<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to(root_path) do %>
						HOME <span class="sr-only">(current)</span>
					<% end %>
				</li>
				<li>
					<%= link_to(about_path) do %>
						ABOUT
					<% end %>
				</li>
				<li>
					<%= link_to "CONTACT", contact_path %>
				</li>
				<li>
					<%= link_to "DONATE", "https://beyondmiles.aeroplan.com/eng/partners/11", target: "blank" %>
				</li>
			</ul>
		</div>
	</div>
</nav>